# Copiez ce fichier vers ./Caddyfile (à côté de docker-compose.yml) et
# adaptez le domaine + le hash du mot de passe. Ne committez jamais le
# vrai Caddyfile (il contient le hash de votre mot de passe).
#
# Générer un hash : docker run --rm caddy:2 caddy hash-password --plaintext 'VotreMotDePasse'

votre-domaine-ou-ip.nip.io {
    basic_auth {
        couple LE_HASH_ICI
    }
    reverse_proxy app:3000
}
